@import "tailwindcss";

/* Enable smooth scrolling globally */
html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

/* primary color */
@theme{
    --color-primary: #BCC2C2;
    --color-footer: #434343;
}

.Hover{
    &:hover{
        scale: 105%;
        transition: all 0.3s ease-in-out;
    }
}