@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --color-primary: #BCC2C2;
    --color-footer: #434343;

    /* Shimmer animation */
    --animate-shimmer: shimmer 1.4s infinite linear;
}

@keyframes shimmer {
    0%   { background-position: -700px 0; }
    100% { background-position:  700px 0; }
}

.Hover {
    &:hover {
        scale: 105%;
        transition: all 0.3s ease-in-out;
    }
}